<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %> 
</head>
<body>
    <%- include('./partials/header') %> 
    <a href="/meals/new">Add A Meal</a>
    <ul>
        <% meals.forEach(meal => { %>
        <li>
            <a href="/meals/<%= meal._id %> ">
            <%=meal.name; %> <br>
            <img src="<%= meal.img %> " alt="<%= meal.name %> ">
            </a>
            <form action="/meals/<%= meal.id %>?_method=DELETE" method="POST">
                <input type="submit" value="DELETE" />
            </form>
        </li>
        <% }) %>
    </ul>
</body>
</html>