<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
</head>

<body>
    <%- include('./partials/header') %>
    <a href="/meals/new">Add A Meal</a>
    <div class="container">
            <ul>
                <% meals.forEach(meal=> { %>
                    <li class="card mb-3">
                            <img src="<%= meal.img %> " class="card-img-top" alt="<%= meal.name %> ">
                            <strong><%=meal.name; %></strong> <br>
                            <p>Price: $<%= meal.price %> </p>
                        <form action="/meals/<%=meal._id%>/cart?_method=PUT" method="post">
                            <input type="submit" value="Add To Cart" class="btn btn-outline-success">
                        </form>
                    </li>
                    <% }) %>
            </ul>
    </div>
</body>

</html>